@charset "iso-8859-1";

        body{margin:0px;padding:0px;font-family:Arial;}
        .scroll{width:133px;height:61px;position:fixed;bottom:15px;left:20px;}
		.desc {height: 90px; width: 100%; position: absolute; top: 100px; left: 20px; text-align: center; font-size: 12px}
		#top{top:0px;left:0px;position:absolute;width:100%;height:10px;}
		#bottom{top:1500px;left:0px;position:absolute;width:100%;height:90px;}

#nav{height:35px;border-bottom:1px solid #ddd;position:fixed;top:0px; left:0px;right:0px;background:#fff url(../images/nav-1.png) repeat-x center left;}
#nav ul{height:25px;list-style:none;margin:6px auto 0px auto;width:600px;   }
#nav ul li{display:inline;float:left;margin:0px 2px;}
#nav a{font-size:11px;font-weight:bold;float:left;padding: 2px 4px;color:#999;text-decoration: none;border:1px solid #ccc;cursor: pointer;background:transparent url(../images/overlay-1.png) repeat-x center left;height:16px;line-height:16px;}
#nav a:hover{background:#FFCC00 none;color: #fff;}
#nav a.top span, #nav a.bottom span{float:left;width:16px;height:16px;}
#nav a.top span{background:transparent url(../images/top-1.png) no-repeat center center;}
#nav a.bottom span{background:transparent url(../images/bottom-1.png) no-repeat center center;}

#nav ul li.search{float:right;}
#nav input[type="text"]{float:left;border:1px solid #ccc;margin:0px 1px 0px 50px;padding:2px 2px 2px 2px;}